<div class="row" ng-show="indexer.delete_candidate!=-1" style="margin-top:10px;margin-bottom:10px;">
<div class="col-md-3">
  <span>Sure?</span>
  <button class="btn btn-danger pull-right" ng-click="indexer.delete_call(indexer.delete_candidate)">Ναι</button>
  <button class="btn btn-info pull-right" ng-click="indexer.cancel_delete_candidate()">Όχι</button>
</div>
</div>