<div class="input-group">
			<input class="form-control"  type="input"
			ng-model="model"
			placeholder="{{options().placeholder}}" />
			<span class="input-group-btn   ">  
			<button class="btn btn-default   " type="button"
			ng-click="model=''" >&times;</button>
			</span>
</div>