  <div class="panel panel-default" >
  
		  <div class="panel-heading  text-right"  ng-show="options().headingText!=undefined" >{{options().headingText}}</div>

  		 <div class="panel-body">
  		  
		 <div ng-transclude></div>
		 </div>

		    
		 
  			<div class="panel-footer text-right" ng-show="options().footerText!=undefined" style="color:gray"  >{{options().footerText}}</div>
	</div> 
